<h2>Please input two words</h2>

  <form method="post" action="/home">
    Word One
  <input type="text" name="word1" required><br />

  <form method="post" action ="/home">
    Word Two
  <input type="text" name="word2" required><br />

  <input type="radio" name="type" value="palindrome">Palindrome<br />
  <input type="radio" name="type" value="anagram">Anagram<br />

  <input type="submit" class="submit" value="Submit">
  </form>

<% word1 = params[:word1] %>
<% word2 = params[:word2] %>

  <% if params[:type] == "palindrome" %>
    <p><%= palindrome(word1, word2) %></p>

  <% elsif params[:type] == "anagram" %>
    <p><%= anagram(word1, word2) %></p>
  <% end %>
