<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <title>Palingram</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<h3>Welcome to Palingram</h3>
<%= yield %>
</body>
</html>
